html, body{
  background-color: #DCC2EE;
  color: #111111;
}

/* name at top */

h1{
color: #111111;
}

/* subheadings */

h3{
  color: #111111;
}

/* dates */

h4{
  color: #111111;
}

/* links */

a, a:visited {
  color: #000000;
}

/* link hover */

a:hover {
  color: #483D8B;
}

/* circle on contact */

.fab, .fas{
  background-color: #333333;
}

/* icon on contact */

a > .fab, a > .fas{
  color: #eeeeee;
}

/* circle hover */

.fab:hover, .fas:hover{
  background-color: #483D8B;
}

/* icon hover */

a > .fab:hover, a > .fas:hover{
  color: #eeeeee;
}
